.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #222;
}

a :visited {
  color: grey;
}

a :active {
  color: white;
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.explored {
  fill: black;
}

.graph {
  background-color: whitesmoke;
  height: 600px;
  padding: 100px;
}

.rv-force__svg {
  border-radius: 20px;
  background: white;
}

.rv-force__label {
  font-size: 14px;
  padding: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-Container {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: row;
  background-image: linear-gradient(lightblue, lightblue);
  color: white;
  padding: 25px;
}
